body {
  background-image: url("./background.jpg");
  opacity: 0.9;
  background-repeat: repeat-x;
}

h1 {
  font-size: 5rem;
  margin-top: 80px;
  font-family: "Grenze Gotisch", cursive;
  margin-bottom: 50px;
  color: #214252;
}

i {
  color: #1f6f8b;
}

input,
h3 {
  margin: 20px 0px;
}

.alert {
  width: 100%;
}

.btn {
  display: block;
  margin: 20px 0px;
  width: 100%;
  background-color: #1f6f8b;
  color: white;
  font-weight: bolder;
}

.query {
  background-color: #555555;
  color: white;
}

.btn:hover {
  color: white;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
